{% extends 'base.html' %}
{% block title %}
  SignUp - iCourses
{% endblock %}
{% block Css %}

{% endblock %}
{% block body %}
  <!-- Section: Design Block -->
  <section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              The best offer <br />
              <span class="text-primary">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora at cupiditate quis eum maiores libero veritatis? Dicta facilis sint aliquid ipsum atque?</p>
          </div>

          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="fname" name="fname" class="form-control" required />
                        <label class="form-label" for="fname">First name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="lname" name="lname" class="form-control" required />
                        <label class="form-label" for="lname">Last name</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="email" id="email" name="email" class="form-control" required />
                        <label class="form-label" for="email">Email</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="username" name="username" placeholder="Remeber Username for login" class="form-control" required />
                        <label class="form-label" for="username">Usename</label>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="password" id="password" name="pass" class="form-control" required />
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="password" id="cpass" name="cpass" class="form-control" required />
                        <label class="form-label" for="cpass">Confirm Password</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
                    <p>
                      Already have an account <a href="/login/">Login</a>
                    </p>
                    {% if messages %}
                      {{ message.tags }}
                      {% for message in messages %}
                        <h5 style="color:red">{{ message }}</h5>
                      {% endfor %}
                    {% endif %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock %}
