{% extends 'base.html' %}
{% block title %}
  {{ view.courseName }}-iCourses
{% endblock %}
{% block Css %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <style>
    .icon-hover:hover {
      border-color: #3b71ca !important;
      background-color: white !important;
      color: #3b71ca !important;
    }
    
    .icon-hover:hover i {
      color: #3b71ca !important;
    }
    .imagearea {
      width: 500px;
      height: 307px;
    }
  </style>
{% endblock %}

{% block body %}
  <!-- content -->
  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="imagearea border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/detail1/big.webp">
              {% if view.coursePicture %}
                <img style="width:500px;height:307px; margin: auto;" class="rounded-4 fit" src="{{ view.coursePicture.url }}" />
              {% else %}
                <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="/static/images/course-2.jpg" />
              {% endif %}
            </a>
          </div>
          <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">{{ view.courseName }}</h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">4.5</span>
              </div>
              <span class="text-success ms-2">Ratings</span>
            </div>

            <div class="mb-3">
              <span class="h5">Price:</span>
              <span class="h5">${{ view.coursePrice }}.00</span>
            </div>

            <p id="safezone">{{view.AboutCourse | truncatechars:168}}</p>
            <hr />

            <a href="#" class="btn btn-warning shadow-0">Buy now</a>
            <input placeholder="Referral Code" type="text" class="border border-dark btn btn-light" />
            <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"><i class="me-1 fa fa-heart fa-lg"></i>Save</a>
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->

  <section class="bg-light border-top py-4">
    <div class="container">
      <div class="row gx-4">
        <div class="col-lg-12 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
              <li class="nav-item d-flex" role="presentation">
                <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">About Course</a>
              </li>
            </ul>
            <!-- Pills navs -->

            <!-- Pills content -->
            <div class="tab-content" id="ex1-content">
              <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                <p>{{view.AboutCourse | safe }}</p>
              </div>
            </div>
            <!-- Pills content -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
<script>
    let text = document.getElementById("safezone")
    text.innerHTML = text.innerText
</script>
{% endblock %}